/* Navigation mobile */

/* esconde o menu quando não está no celular.*/
nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -32rem;
  transition: 0.2s;
}

nav ul li {
  text-decoration: none !important;
  text-align: center;
}
/* animação da cor, posso definir animação em display, background e cor. pesquisa mais sobre quais propriedade tem animação */
nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

/* barra de cor inferior. */
nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -2.4rem;

  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* para evitar glit da animação. */
nav .menu ul {
  display: none;
}

/* mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);

  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}
nav.show ul.grid {
  gap: 6.4rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 2.4rem; /*aqui aplico o tamanho dele, com font-size pois transfomei a imagem em font. */
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  top: -1.4rem;
  opacity: 0;

  position: absolute;
  right: 2.4rem;

  /* animação de transição */
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.4rem;
}
