#testimonials {
  background-color: white;
}

#testimonials blockquote {
  padding: 3.2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 2.4rem;
  color: hsla(159, 41%, 10%, 1);
}

#testimonials blockquote p span {
  font: 700 2.2rem serif;
  position: absolute;
  top: -0.5rem;
  left: -1.3rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover; /* mesma pegada do background-size: cover*/
  clip-path: circle();
  margin-right: 1rem;
}
